nim/nama :16320160/Andry Dimas Putra
tanggal  :15 Desember 2020
deskripsi:pandas

## 1. Banyaknya data

In [8]:
import pandas as pd
df = pd.read_csv("covid.csv")
print(len(df))

27138

## 2. Menuliskan 5 data pertama

In [5]:
print(df[:5])

         Date Country/Region  Confirmed  Deaths  Recovered  Active  New cases  \
0  2020-01-22          China        548      17         28     503          0
1  2020-01-22          Japan          2       0          0       2          0
2  2020-01-22    South Korea          1       0          0       1          0
3  2020-01-22        Taiwan*          1       0          0       1          0
4  2020-01-22       Thailand          2       0          0       2          0

   New deaths  New recovered       WHO Region
0           0              0  Western Pacific
1           0              0  Western Pacific
2           0              0  Western Pacific
3           0              0  Western Pacific
4           0              0  South-East Asia

## 3. Menuliskan data ke 406 sampai 410

In [6]:
print(df[405:410])

           Date Country/Region  Confirmed  Deaths  Recovered  Active  \
405  2020-02-11        Germany         16       0          0      16
406  2020-02-11          India          3       0          0       3
407  2020-02-11          Italy          3       0          0       3
408  2020-02-11          Japan         27       0          9      18
409  2020-02-11       Malaysia         18       0          3      15

     New cases  New deaths  New recovered       WHO Region
405          2           0              0           Europe
406          0           0              0  South-East Asia
407          0           0              0           Europe
408          1           0              5  Western Pacific
409          0           0              2  Western Pacific

## 4. Banyaknya data masing-masing negara

In [9]:
print(df["Country/Region"].value_counts())

US                       188
Thailand                 188
China                    188
Japan                    188
South Korea              188
Taiwan*                  188
Singapore                187
Vietnam                  187
France                   186
Malaysia                 185
Nepal                    185
Canada                   184
Australia                184
Sri Lanka                183
Germany                  183
Cambodia                 183
Finland                  181
United Arab Emirates     181
India                    180
Philippines              180
United Kingdom           179
Russia                   179
Sweden                   179
Italy                    179
Spain                    178
Belgium                  175
Egypt                    165
Iran                     160
Lebanon                  158
Israel                   158
                        ...
Madagascar               130
Niger                    130
Zimbabwe                 130
Papua New Guinea         130
Eritrea                  129
Uganda                   129
Grenada                  128
Dominica                 128
Syria                    128
Mozambique               128
Timor-Leste              128
Belize                   127
Laos                     126
Libya                    126
Mali                     125
Saint Kitts and Nevis    125
Guinea-Bissau            125
Kosovo                   124
Burma                    123
Botswana                 120
Burundi                  119
Sierra Leone             119
Malawi                   117
South Sudan              114
Western Sahara           114
Sao Tome and Principe    113
Yemen                    109
Tajikistan                89
Comoros                   89
Lesotho                   76
Name: Country/Region, Length: 187, dtype: int64

## 5. Nilai korelasi antara kasus terkonfirmasi dan kasus aktif

In [14]:
df["Confirmed"].corr(df["Active"])

0.9497894846049663

### nilai jumlah kasus yang terkonfirmasi dan jumlah kasus aktif berkorelasi lurus karena hasil nya 0.94/ mendekati 1